[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
garpix-page = "==2.45.0-rc7"
garpix-menu = "==1.15.0"
environs = "*"
psycopg2-binary = "*"
uwsgi = "*"
django-ckeditor = "==6.3.0"
djangorestframework = "*"
mkdocs-material = "*"
mkdocstrings = "*"
twine = "*"
garpix-auth = "==2.3.0"
garpix-notify = "==5.14.0"
django-cors-headers = "==3.13.0"
garpix-utils = "==1.8.0"
garpix-package = "==2.0.1"
drf-spectacular = "*"
raven = "*"
sentry-sdk = "*"
pre-commit = "*"
django-tabbed-admin = "*"
eqator = "==2.6.0"
garpix-user = "==3.5.0-rc5"
mkdocs-static-i18n = "*"

[dev-packages]

[requires]
python_version = "3.8"
