[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
garpix-page = "==2.49.0-rc5"
garpix-menu = "==1.17.1"
environs = "*"
psycopg2-binary = "*"
uwsgi = "*"
django-ckeditor = "==6.3.0"
djangorestframework = "*"
mkdocs-material = "*"
mkdocstrings = "*"
twine = "*"
garpix-auth = "==2.3.0"
garpix-notify = "==5.17.0-rc1"
django-cors-headers = "==3.13.0"
garpix-utils = "==1.10.0-rc26"
garpix-package = "==2.0.1"
drf-spectacular = "*"
raven = "*"
sentry-sdk = "*"
pre-commit = "*"
eqator = "==2.7.0"
garpix-user = "==3.10.0-rc24"
mkdocs-static-i18n = "*"

[dev-packages]

[requires]
python_version = "3.8"
