[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
garpix-page = "==1.0.0"
garpix-menu = "==1.0.0"
environs = "*"
psycopg2-binary = "*"
garpix-qa = "==1.0.5"
uwsgi = "*"
django-ckeditor = "*"
djangorestframework = "*"
mkdocs-material = "*"
mkdocstrings = "*"

[dev-packages]

[requires]
python_version = "3.8"
